.artDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.artHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.centeredImage {
    text-align: center;

}

.artInfo {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 15px;
    max-width: 100%;
}

.divPai{
    margin: 0 auto;
}   

.artInfo p{
    margin-bottom: -5px;
    max-width: 600px;
    text-align: justify;
}
.artImage{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
